.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.headerColumn {
  display: flex;
  align-items: center;
}
.headerBackBtn {
  margin-right: 10px;
}
.headerTitle {
  font-size: 24px;
  font-weight: 600;
}
.headerIcon i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
